@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.login-page {
  display: flex;
  height: 100vh;
  background: url('/public/Background.png') center/cover no-repeat; /* Absolute path if needed */
  position: relative;
}

.cineverse-title {
  position: absolute;
  top: 20px;
  left: 150px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.5rem;
  color: red;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
  letter-spacing: 3px;
}

.login-container {
  margin: auto;
  width: 100%;
  max-width: 400px;
  height: 450px;
  background: rgba(0, 0, 0, 0.75);
  padding: 2.5rem;
  border-radius: 5px;
  box-shadow: 0 4px 20px rgba(255, 0, 0, 0.5);
}

.login-header {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: left;
}

.login-form-group {
  margin-bottom: 1.5rem;
}

.login-container .login-form-group input {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  font-size: 1rem;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle white border */
  outline: 2px solid transparent;
}


.login-form-group input:focus {
  background: rgba(0, 0, 0, 0.5); /* Transparent black */
}

.login-form-group input:hover {
  background: rgba(0, 0, 0, 0.5); /* Transparent black */
}

.login-form-group input::placeholder {
  color: #aaa;
}

.login-errors {
  font-size: 0.75rem;
  color: red;
  margin-top: 2px; /* Reduce the gap above the error message */
  margin-bottom: 0; /* Remove any unnecessary space below */
  line-height: 1.2; /* Adjusts the line spacing */
}

.login-password-container {
  position: relative;
}

.login-password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #aaa;
}

.login-button {
  width: 100%;
  padding: 0.6rem;
  background: red;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.login-password-container {
  position: relative;
}

.login-password-toggle {
  position: absolute;
  right: 15px; /* Adjust position from the right edge */
  top: 50%;
  transform: translateY(-50%); /* Vertically center the icon */
  cursor: pointer;
  color: #aaa;
  font-size: 10rem; /* Adjust size of the icon */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px; /* Adjust size */
  height: 30px; /* Adjust size */
  transition: background 0.3s, color 0.3s; /* Add a smooth hover effect */
}

.login-button:hover {
  background: #910404;
}

.login-register {
  margin-top: 1rem;
  text-align: center;
}

.login-register a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.login-register a:hover {
  text-decoration: underline;
}
